body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
}
h1 {
    color: black;
    padding: 40px 0;
    text-align: center;
}
.button {
   transition: transform 0.2s;
}
.button:hover {
   transform: scale(1.05);
}
img {
 border: 2px solid;
}
