<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        color: black;
        padding: 40px 0;
        text-align: center;
        border-bottom: 4px solid #e9ecef;
    }
    nav {
      background-color: #e9ecef;
    }
    .button {
       transition: transform 0.2s;
    }
    .button:hover {
       transform: scale(1.05);
    }
    </style>

  <title>Stock Graph</title>

  <!-- Load React + ReactDOM -->
  <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>

  <!-- Load ApexCharts -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-apexcharts/dist/react-apexcharts.min.js"></script>
</head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="https://github.com/jzhu50/PretendingGreatness_jiayingz16_victorc353_chongtianm_jessicay3632/blob/main/flag.jpg?raw=true" width="30" height="30" class="d-inline-block align-top" alt="">
        PretendingGreatness
      </a>
    </nav>
    <center>
    <h1 class="font-weight-bold p-3 mb-2 bg-dark text-light">
       Analyzing Tesla Stocks
    </h1>
    <br><br>
        <h2>Tesla Stock Prices</h2>
        <p>Welcome, <strong> {{ username }}!</strong></p>
        <div id="app"></div> <!-- React component renders here -->
        <script src="{{ url_for('static', filename='tesla_chart.js') }}"></script>
        <form action = "/" method = "GET">
        <br> <br>
        <p> Click the points! </p>

        <br> <br>
        Want to return home?
        <br><br>
        <button type="submit" class="button btn btn-secondary btn-md">Click Here</button>
        </form>
        <br> <br>
      <a href="/logout">
        <button class="button btn btn-secondary btn-md"> Log Out </button>
        </a>
      <br> <br>
    </center>
</body>
