<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="../static/favicon.ico">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
  <style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        color: black;
        padding: 40px 0;
        text-align: center;
        border-bottom: 3px solid #e9ecef;
    }
    nav {
      background-color: #e9ecef;
    }
    .i {
      width: 5%;
    }
    .card {
      border: 1px solid black;
      padding-bottom: 1%;
    }
    .button {
       transition: transform 0.2s;
    }
    .button:hover {
       transform: scale(1.05);
    }
  </style>
  <title>Tweet on {{ date }}</title>
    </head>
    <body>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://github.com/jzhu50/PretendingGreatness_jiayingz16_victorc353_chongtianm_jessicay3632/blob/main/flag.jpg?raw=true" width="30" height="30" class="d-inline-block align-top" alt="">
          PretendingGreatness
        </a>
      </nav>
      <center>
        <h1 class="font-weight-bold p-3 mb-2 bg-dark text-light">
        Elon Musk's Tweet from {{ date }}
      </h1>
      <br> <br>
      <meta charset="UTF-8">
      <div class="card" style="width:60rem">
        <div class="card-body">
          <img src="https://pbs.twimg.com/profile_images/1893803697185910784/Na5lOWi5_400x400.jpg" class ="i rounded-circle" alt="EMusk">
          <p><strong> Elon Musk</strong></p>
          <p><strong>Content:</strong> {{ tweet_text | safe}} </p>
          <p><strong>Likes:</strong> {{ like_count | safe}} </p>
        </div>
      </div>
     <!--
  <div class="prediction-image" style="text-align: center; margin: 20px 0;">
        <img src="{{ url_for('static', filename=prediction_image) }}" alt="Prediction Image" style="width: 25%; height: 25%;">
      </div> 
-->
    </div>
    <br> <br>
    <a href="/graph">← Back to Graph</a>
    <br> <br>
    <div>
    {{ response|safe }}
    </div>
    <br> <br>
    {% if username %}
      <br> <br>
    {% else %}
      <a href="/">
          <button class="button btn btn-secondary btn-md"> Log In </button>
      </a>
    {% endif %}
</center>
</body>
</html>